.vscode

*.xlsx
*.csv

.env
.old.env
.VSCodeCounter

*.sql
!db/create_tables/**.sql

**/**.log
**/**.out
**/**.pid
**/**.exe

**/go.sum

watcher/watcher
watcher/test.py
watcher/test.sql

/analyst/__pycache__/
!/analyst/performance.csv
!/analyst/sandwiches_site_db_comparison.csv

/scutumTest

**.parquet